<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= require('html-loader!../components/block/block.html') %>
<%= require('html-loader!../components/block1/block1.html') %>
<div id="app"></div>

</body>

</html>